*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #000000;
    color: white;
    background-image: url(./images/black\ smoke.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
h1{
    padding-top: 20px;
    font-size: 3rem;
}
.box{
    height: 18vmin;
    width: 18vmin;
    cursor: pointer;
    margin: auto;
    background-color: #99a6b0;
    color: white;
    border: none;
    font-size: 3rem;
    box-shadow: rgba(255,255,255,0.2);
}
.box:hover{
    background-color: rgba(153, 166, 176,.4);
}
#reset{
    color: white;
    background-color: #99A6B0;
    height: 9vmin;
    width: 45vmin;
    font-size: 3.5rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}
.result{
    height: 3vmin;
    margin-top: 5vmin;
}
#msg{
    font-size: 5vmin;
}
.hide{
   display: none;
}
@media screen  and (max-width: 576px){
    .game{
        width: 40vmin;
        height: 40vmin;
    }
    .box{
        width: 10vmin;
        height: 10vmin;
    }
    h1{
        padding-top: 15px;
        font-size: 1.5rem;
    }

    #reset{
        height: 4vmin;
        width: 25vmin;
    }
    #msg{
        font-size: 2.5vmin;
    }
}
