*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    text-align: center;
    background-color: #000000;
    color: white;
    background-image: url(./images/black\ smoke.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .9rem;
}
h1{
    padding-top: 20px;
    font-size: 3rem;
}
.box{
    height: 18vmin;
    width: 18vmin;
    cursor: pointer;
    margin: auto;
    border-radius: 1rem;
   background-color: #99a6b0;
   color: white;
   border: none;
   font-size: 3rem;
   box-shadow: rgba(255,255,255,0.2);
}
#reset{
    color: white;
    background-color: #99A6B0;
    height: 9vmin;
    width: 30vmin;
    font-size: 3.5rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}
.result{
    height: 5vmin;
    margin-top: 10vmin;
}
#msg{
    font-size: 5vmin;
}
.hide{
   display: none;
}